.ui-datepicker { font-size: 10px; }

.ui-datepicker-trigger{ vertical-align: middle; }

.ui-progressbar{ font-size: 5px; }
/* .ui-progressbar-value { background: green; } */

body, p, input, textarea, select, button, td, th {
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #222222;
}

th{
	font-size: 12px;
	font-weight: bold;
}

h1{
	font-size: 22px;
}

.grid{
	border-collapse: collapse;
}

.grid td{
	border: 1px solid #999999; 
}

.grid th{
	color: white;
	background-color:  #999999;
	border: 1px solid #999999;
}

.grid tr:nth-child(2n+1){
	background-color:  #F4F4F4;
}

.grid tr:nth-child(2n){
	background-color:  #FFFFFF;
}

table.grid thead tr .header {
	background-image: url(img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 20px;
}
table.grid thead tr .headerSortUp {
	background-image: url(img/asc.gif);
	padding-right: 20px;
}
table.grid thead tr .headerSortDown {
	background-image: url(img/desc.gif);
	padding-right: 20px;
}

td.nodata{
	text-align: center; 
	height: 50px; 
	background-color:  #F4F4F4;
}

.link {
	text-decoration: none; 
	color: #3399ff;
}
.link:hover {
	text-decoration: underline;
}